<div class="col-3">
  <img src={{loggedUser.profilePhotoUrl}} class="img-responsive rounded-circle" style="max-height: 100px;">
</div>
<div class="col-1"></div>
<div class="col-8">
  <div>Posts: {{loggedUser.posts.length}}</div>
  <div>Followers: {{loggedUser.followers.length}}</div>
  <div>Following: {{loggedUser.following.length}}</div>
</div>

<div class="row">
  <div class="col-3">
    <h5>{{loggedUser.username}}</h5>
  </div>
  <div class="col-12" style="margin-top: 30px;">{{loggedUser.description}}</div>
</div>


