<div class="modal-header">
  <button type="button" class="btn btn-danger" (click)="deletePost(post)">Delete</button>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <span>
    <!--<p *ngIf="post.user !== null">{{user.username}}</p>-->
    <!--<p *ngIf="post.user === null">user_null for now</p>-->
    <img
      [src]="post.photoUrl"
      class="img-responsive"
      style="max-height: 200px;">
  </span>
  <div>
    <p class="list-group-item-text" *ngIf="post.likedBy.length === 0">
      No likes yet.</p>
    <p class="list-group-item-text" *ngIf="post.likedBy.length === 1">
      likes: {{post.likedBy[0]}}</p>
    <p class="list-group-item-text" *ngIf="post.likedBy.length === 2">
      likes: {{post.likedBy[0]}} and {{post.likedBy[1]}}</p>
    <p class="list-group-item-text" *ngIf="post.likedBy.length > 2">
      likes: {{post.likedBy[0]}}, {{post.likedBy[1]}}
      and {{post.likedBy.length - 2}} more</p>


    <p class="list-group-item-text">{{post.description}}</p>
    <p class="list-group-item-text" *ngIf="post.comments.length === 0">No comments yet.</p>
    <p class="list-group-item-text"
       *ngFor="let com of post.comments">
      {{com.user}}: {{com.content}} | likes: {{com.likedBy.length}}
    </p>

  </div>
</div>
