<div class="clearfix" style="margin-top: 10px; text-align: center;">

  <span>
    <p *ngIf="post.user !== null">{{post.user.username}}</p>
    <p *ngIf="post.user === null">user_null for now</p>
    <img
      [src]="post.photoUrl"
      class="img-responsive"
      style="max-height: 200px;">
  </span>

  <div>
    <p class="list-group-item-text">likes: {{post.likedBy.length}}</p>
    <p class="list-group-item-text">{{post.description}}</p>
    <p class="list-group-item-text">comments:</p>
    <p class="list-group-item-text" *ngIf="post.comments.length === 0">No comments.</p>
    <p class="list-group-item-text"
       *ngFor="let com of post.comments"
      style="background: peachpuff">{{com.user.username}}: {{com.content}}</p>

  </div>
</div>
