<div class="clearfix" style="margin-top: 10px; text-align: center;">

  <span>
    <p *ngIf="post.content.user !== null"
       routerLink="/{{user.username}}"
      style="cursor: pointer;">{{user.username}}</p>
    <p *ngIf="post.content.user === null">user_null for now</p>
    <img
      id = "photo-{{post.index}}"
      [src]="post.content.photoUrl"
      class="img-responsive"
      style="max-height: 200px; cursor: pointer"
      (click)="showDetail($event)">
  </span>

  <div>
    <p class="list-group-item-text" *ngIf="post.content.likedBy.length === 0">
      No likes yet.</p>
    <p class="list-group-item-text" *ngIf="post.content.likedBy.length === 1">
      likes: {{post.content.likedBy[0]}}</p>
    <p class="list-group-item-text" *ngIf="post.content.likedBy.length === 2">
      likes: {{post.content.likedBy[0]}} and {{post.content.likedBy[1]}}</p>
    <p class="list-group-item-text" *ngIf="post.content.likedBy.length > 2">
      likes: {{post.content.likedBy[0]}}, {{post.content.likedBy[1]}}
       and {{post.content.likedBy.length - 2}} more</p>

    <button class="btn btn-success" (click)="togglePostLike()"
            *ngIf="!loggedUserLikesPost">Like post</button>
    <button class="btn btn-warning" (click)="togglePostLike()"
            *ngIf="loggedUserLikesPost">Dislike post</button>

    <p class="list-group-item-text">{{post.content.description}}</p>
    <p class="list-group-item-text" *ngIf="post.content.comments.length === 0">No comments yet.</p>
    <p class="list-group-item-text"
       *ngFor="let com of post.content.comments">

      <button class="btn btn-danger" (click)="deleteComment(com)"
              *ngIf="com.user === loggedUsername">Delete comment</button>

      {{com.user}}: {{com.content}} | likes: {{com.likedBy.length}}

      <button class="btn btn-success" (click)="toggleCommentLike(com)"
              *ngIf="!loggedUserLikesComment(com)">Like comment</button>
      <button class="btn btn-warning" (click)="toggleCommentLike(com)"
              *ngIf="loggedUserLikesComment(com)">Dislike comment</button>

    </p>

  </div>

  <div>
    Add comment:
    <textarea rows="1" style="resize: none;" [(ngModel)]="newComment"></textarea>
    <button
      class="btn btn-primary"
      (click)="addNewComment()">Add Comment
    </button>
  </div>
</div>

<div id="overlay-{{post.index}}" style="display: none;">
  <img id="detail-{{post.index}}"
    [src]="post.content.photoUrl"
    class="img-responsive"
    style="max-height: 500px; margin: 100px auto; display: block;"
    (click)="hideDetail($event)">
</div>
<hr/>
